{% extends "base.html" %}

{% block main %}

    <div class="row">

        <div class="col-md-8">
            <h4 class="my-4">Post Detail</h4>
            <div class="card mx-2 my-2 px-4" style="width: 100%;">
                <img src="{{ object.image.url }}" class="card-img-top" alt="post-image">
                <div class="card-body">
                    <h5 class="card-title">{{ object.author.first_name }} {{ object.author.last_name }} - {{ object.created_at }}</h5>
                    <p class="card-text">{{ object.text }}.</p>
                    
                </div>
    
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="my-4">Comments</h4>
            {% for comment in comments %}
            <div class="card my-4" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.author.first_name }} {{ comment.author.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.created_at }}</h6>
                    <p class="card-text">{{ comment.text }}.</p>
                </div>
            </div>
            {% endfor %}
            <a href="{% url "create_comment" object.id %}" class="btn btn-secondary">Comment</a>
        </div>
           
{% endblock main %}